@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --color-primary-100: #ffd524;
    --color-primary-200: #ecb602;
    --color-secundary-100: #55185d;
    --color-secundary-200: #290849;
    --color-neutral-500: #fffdf7;
    --color-neutral-800: #cdc7d9;
    --ff-primary: "Lato", sans-serif;
    --ff-accent: "Oswald", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}
