@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
    --color-primary-100: #ffd524;
    --color-primary-200: #ecb602;
    --color-secundary-100: #55185d;
    --color-secundary-200: #290849;
    --color-neutral-100: #fffdf7;
    --color-neutral-200: #fffaf0;
    --color-neutral-600: #c0c0c0;
    --ff-primary: "Lato", sans-serif;
    --ff-accent: "Oswald", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

html {
    background-color: var(--color-neutral-200);
}

/* navbar */

.navbar {
    font-family: var(--ff-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secundary-200);
    background-color: var(--color-primary-100);
    height: 8em;
    letter-spacing: 0.25em;
}

.navbar .logo {
    width: 8em;
    height: auto;
    padding: 1em;
}

.navbar .navbrand {
    width: 25em;
    display: flex;
    margin: 1em;
}

.navbrand .logoSplash {
    background-image: url("../assets/images/splash.svg");
    background-size: 100% 100%;
}

.navbar .text {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-bottom: 0.75em;
    align-self: flex-end;
}

.navbar .navLinks {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    border-left: 1px solid var(--color-neutral-100);
    text-decoration: none;
    line-height: 1.75em;
}

.navbar .navLinks .link {
    text-decoration: none;
}

.navbar .navLinks .link:visited {
    color: var(--color-secundary-300);
    text-decoration: none;
}

.currentLink {
    color: var(--color-secundary-100);
    text-decoration: none;
}

.navbar img:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px var(--color-neutral-600);
    -moz-box-shadow: 0 10px 6px -6px var(--color-neutral-600);
    box-shadow: 0 10px 6px -6px var(--color-neutral-600);
}

/* login input */

.loginInputWrapper {
    width: 400px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 1.3em;
    letter-spacing: 0.25em;
    text-align: center;
    font-family: var(--ff-accent);
}

.loginInput {
    width: 400px;
    height: 80px;
    margin-top: 80px;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    border-top: 3px solid var(--color-primary-100);
    border-bottom: 3px solid var(--color-primary-100);
    outline: none;
    color: var(--color-secundary-100);
    padding-left: 10px;
    text-align: center;
    font-family: var(--ff-accent);
    letter-spacing: 0.1em;
}

.loginInput:focus + label {
    top: -130px;
    font-size: 1.2em;
    transition: all 0.3s;
}

label {
    display: block;
    position: relative;
    left: 0px;
    top: -70px;
    font-size: 1.8em;
    cursor: text;
    color: var(--color-secundary-100);
    transition: all 0.3s;
}

::placeholder {
    color: var(--color-secundary-100);
    opacity: 1;
}

/* login button */

.btn {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    border: none;
    font-size: 28px;
    color: var(--color-neutral-200);
    font-family: var(--ff-accent);
}

.btn:hover {
    cursor: pointer;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 85%;
    transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
}

.btn::before {
    background-color: var(--color-primary-100);
    top: -1rem;
    left: -2.5rem;
}

.btn::after {
    background-color: var(--color-secundary-100);
    top: 1rem;
    left: 4rem;
}

.btn:hover::before,
.btn:hover::after {
    top: 0;
    transform: skewx(0deg);
}

.btn:hover::after {
    left: -4.3rem;
}

.btn:hover::before {
    left: 5.5rem;
}

/* translate image button */

.imgBtn {
    width: 32px;
    height: 32px;
    margin-left: 3em;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.imgBtn:hover {
    cursor: pointer;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

/* translate input */

.translateWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.translateInput {
    width: 400px;
    height: 80px;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    border-top: 3px solid var(--color-primary-100);
    border-bottom: 3px solid var(--color-primary-100);
    outline: none;
    color: var(--color-secundary-100);
    padding-left: 10px;
    text-align: center;
    font-family: var(--ff-accent);
    letter-spacing: 0.1em;
}

/* translation item card */

.translationItemCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2em;
    padding: 2em;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    letter-spacing: 0.5em;
    border-radius: 25px;
    background-color: var(--color-neutral-100);
}

.cardText {
    margin-bottom: 1em;
    color: var(--color-secundary-100);
}

.cardSigns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shadowCard {
    box-shadow: var(--color-neutral-600) 0px 7px 29px 0px;
}

/* profile */

.profileText {
    font-family: var(--ff-primary);
    letter-spacing: 0.25em;
    text-align: center;
    margin: 5em;
    color: var(--color-secundary-200);
}

.profileLogout {
    font-family: var(--ff-primary);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.1em;
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
    color: var(--color-secundary-200);
}

.logoutImg {
    margin-left: 0.5em;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

.logoutImg:hover {
    cursor: pointer;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modalMain {
    position: fixed;
    background: var(--color-neutral-100);
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modalContent {
    text-align: center;
    color: var(--color-secundary-200) !important;
    font-family: var(--ff-primary) !important;
    letter-spacing: 0.25em !important;
    font-size: 1.3em !important;
}

.modalBtn {
    width: 16px;
    height: 16px;
}

.modalBtn:hover {
    cursor: pointer;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}
